.breakButton {
  position: fixed;

  right: 10px;
  bottom: 10px;

  font-size: 24px;

  padding: 10px;

  cursor: pointer;

  background-color: rgba(218, 17, 17, 0.952);
  color: white;

  border: none;
  outline: none;
}
