.planetsItemContainer {
  width: 100%;

  margin: 0 auto;
  padding: 10px 20px;

  transition: 0.3s;

  border-radius: 20px;

  @media screen and (hover: hover) {
    &:hover {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
  }

  & h2 {
    font-size: 28px;
  }

  & p {
    font-size: 20px;
  }
}
