.planetsListContainer {
  min-width: 320px;
  max-width: 600px;

  margin: 0 auto;
  padding: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.planetsListLoader {
  font-size: 24px;
}
